<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Change Password</h3>
        <form #f="ngForm" (ngSubmit)="changePassword()">
            <div class="mb-3">
              <label for="changePassword" class="form-label">Enter new Password</label>
              <input type="password" name="password"
                [(ngModel)] = "model.password" 
                ngModel required #password="ngModel" 
                class="form-control" id="changePassword" placeholder="Enter new Password">
            </div>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Change Password <i class="fas fa-save"></i></button>
          </form>
    </div>
</div>