<div class="row home-main-row">
    <div class="col-md-6 mt-4 pt-5 pl-5" *ngIf="!authService.loggedIn();">
        <h3>Tabla de Clientes</h3>
        <p>Registrate o inicia sesión para comenzar</p>
        <a [routerLink]="['register']"
           routerLinkActive="router-link-active"
           class="btn btn-info">Registrarme <i class="fas fa-user-plus"></i></a>
    </div>
    <div class="offset-md-10 mt-4" *ngIf="authService.loggedIn();" (click)="open(contentadd)">
        <a class="btn btn-info"> Añadir cliente </a>
    </div>
    <ng-template #contentadd let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Añadir cliente</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="onSubmit_crear(f)" novalidate [formGroup]="ClientForm">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <div class="input-group">
                <input id="nombre" class="form-control" formControlName="nombre" required name="nombre">
              </div>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <div class="input-group">
                  <input id="apellido" class="form-control" formControlName="apellido" required name="apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="dni">DNI</label>
                <div class="input-group">
                  <input type="number" id="dni" class="form-control" formControlName="dni" required name="dni">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                  <input id="Email" class="form-control" formControlName="email" name="email">
                </div>
            </div>
            <div class="border text-center">
                <button data-dismiss="modal" type="submit" [disabled]="f.invalid" class="btn btn-info">Crear cliente</button>
            </div>
          </form>
        </div>
      </ng-template>
    <table class="table table-striped mt-4 table-hover table-sm table-bordered" cellspacing="0" width="100%" *ngIf="authService.loggedIn();">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.dni}}</td>
            <td>{{cliente.email}}</td>
            <td>
                <button class="btn btn-sm btn-warning" (click)="openEditar(contentedit, cliente)" style="margin:5px;"><i class="fa fa-edit"></i>Editar</button>
                <ng-template #contentedit let-modal>
                    <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Editar cliente</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit_editar(f, cliente)" novalidate [formGroup]="ClientEditForm">
                        <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <div class="input-group">
                            <input type="text" id="nombre.e" class="form-control" formControlName="nombre" required name="nombre">
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="nombre">Apellido</label>
                        <div class="input-group">
                            <input type="text" id="apellido.e" class="form-control" formControlName="apellido" required name="apellido">
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="nombre">DNI</label>
                        <div class="input-group">
                            <input type="number" id="dni.e" class="form-control" formControlName="dni" required name="dni">
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Email</label>
                            <div class="input-group">
                                <input type="email" id="email.e" class="form-control" formControlName="email" name="email">
                            </div>
                        </div>
                        <div>
                            <button data-dismiss="modal" type="button" class="btn btn-info" (click)="modal.dismiss('Cross click')">Cerrar</button>
                            <button data-dismiss="modal" type="submit" [disabled]="f.invalid" class="btn btn-info btn-warning" style="float: right;">Guardar</button>
                        </div>
                    </form>
                    </div>
                </ng-template>
                <button class="btn btn-sm btn-danger" style="margin:5px;" (click)="open(contenteliminar)"><i class="fa fa-remove"></i>Eliminar</button>
                <ng-template #contenteliminar let-modal>
                    <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Eliminar cliente</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <div class="form-group">
                        <div class="text-center mt-4">
                            <h2>ELIMINAR CLIENTE?</h2>
                        </div>
                    </div>
                    <div class="mt-4">
                        <button data-dismiss="modal" type="button" class="btn btn-info" (click)="modal.dismiss('Cross click')">Cerrar</button>
                        <button data-dismiss="modal" type="submit" class="btn btn-info btn-danger" style="float: right;" (click)="deleteClientes(cliente.id);modal.dismiss('Cross click')">Eliminar</button>
                    </div>
                    </div>
                </ng-template>
            </td>
          </tr>
        </tbody>
      </table>     
</div>