.home-main-row{
    //background-image: url("../../../assets/img/background.png");
    background-repeat: no-repeat;
    background-position: 80%;
}
.home-image-wrapper{
    overflow: hidden;
}
.home-image-wrapper img{
    display: block;
    margin: auto;
    width:150%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}